h1{
    background-color: rgb(132,132,132);
    padding-left: 20px;
    line-height: 100px;
    color: white;
    margin: 0;
}
h2{
    margin: 0;
    float: left;
    line-height: 170px;
    background-color: rgb(214,214,214);
    width: 200px;
    text-align: center;
    margin-right: 10px;
}
.clearfix::after,
.clearfix::before{
    content: '';
    display: table;
    clear: both;
}
.contentbox div {
    border: 1px solid rgb(231,231,231);
}